@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

.year-dropdown {
  width: 100%; 
  height: 30px; 
  font-size: small;
  padding-top: 2%;
  display: flex;
/* Move to the far right */

}

.dropdown-select{
  width: 140px;
  margin-left: auto; /* Move to the far right */
  margin-right: 12.75%;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 17px;
  /* padding: 5px; */
  border-radius: 7px;
  padding-left: 42px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.18);
  border-color: #BBBBBB;
}
.dropdown-select:focus {
  outline: none; 
}