@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

*{
    background-color: white;
    align-items: center;
}


.userCard{
    width: 530px;
    height: auto;
    border-radius: 19px;
    padding: 20px;
    border-width: 1px;
    border-color: #FFD800;
    box-shadow: 0px 0px 31px rgba(0, 0, 0, 0.09);
    flex-direction: row;
    background-color: white;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Montserrat';
    font-weight: 600;
    color: black;
}

p{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.user-list {
    list-style: none;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    padding: 0;
}

.list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-list li {
    margin-bottom: 0px;
}

hr {
    border: none;
    border-top: 1px solid #a7a7a7;
    margin: 0px 0;
}

