@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

.login-parent-container{
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 250px;
    flex-grow: 1;
    width: 90%; 
}
/* .login-top-container{

} */
.login-header-image{
    height: 30%;
    width: 70%;
    margin-bottom: 15%;
    padding-right: 10%;
}

.login-left-cotainer{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    /* padding-left: 5%; */
    padding-top: 2%;
}
.login-top-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.login-psg-image{
    height:30%;
    width: 23%;
    padding-left: 0%;
    /* padding-top: 4%; */
    float: left;
}
/* .login-top-container{

} */

.login-h2 {
    font-family: 'Montserrat';
    font-weight: 750;
    font-size: 33px;
    color: #1C1C1B;
    background-color: transparent;
    margin: 0;

}

.login-h2-span{
    font-weight: 350;
    text-align: center;
}
.login-vector-img{
    margin-bottom: 5px; /* Keep the existing margin-bottom */
    margin-top: -10px;
}  



