@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

.new-pwd-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.new-pwd-header-container {
  height: 10%;
  width: 100%;
}
.new-pwd-parent-container {
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 250px;
  flex-grow: 1;
  width: 90%;
  height: 90%;
}
/* .login-top-container{

} */
.new-pwd-left-cotainer {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  /* padding-left: 5%; */
  /* padding-top: 2%; */
}
.new-pwd-top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.new-pwd-header-image{
  height: 30%;
  width: 70%;
  margin-bottom: 15%;
  padding-right: 10%;
}

/* .login-top-container{

} */

.new-pwd-h2 {
  font-family: "Montserrat";
  font-weight: 750;
  font-size: 33px;
  color: #1c1c1b;
  background-color: transparent;
  margin: 0;
}

.new-pwd-h2-span {
  padding-top:0%;
  margin-top:10px;
  font-weight: 350;
  text-align: center;
}
.new-pwd-vector-img {
  margin-bottom: 5px; /* Keep the existing margin-bottom */
  margin-top: -10px;
}
